body{
    background-image: url(source/background\ 2.jpeg);
    background-size: cover;
    background-position: center;
    height:max-content;
    width: auto;
    background-repeat: no-repeat;
    align-items: center;
}
#wrapper{
    min-width: 600px;
    max-width: auto;
    color:black;
    width: 80%;
    margin:auto;
    position: relative;
}
header { font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #C69749; 
    background-color: #282A3A; 
    background-repeat:no-repeat;
    margin-top: 10;
    padding-bottom: 1em;
    height: 150px;
    margin-right: 170px;
    margin-left: 150px;
    text-align: center;
    position: relative;
    text-size-adjust: auto;
}
header h1 {
      padding-top: 40px;
      margin: 0;	
      font-size: 50px;  
}
header span { font-style: italic;
          font-weight: bold;
          font-size: 30px;
          color: #735F32;
          margin-top: -0.5em;
          text-align: center;
}
main{
    min-width: 600px;
    max-width: 1000px;
    color:black;
    width: 80%;
    margin:auto;
    padding-top: 20px;
    position: relative;
}
h2{
    margin-left: 120px;
    margin-right: 170px;
    text-align: center;
    font-size: 38px ;
}
#line1 h2{
    color:#C84B31;
    font-family:Georgia, 'Times New Roman', Times, serif
}
#line2 h2{
    color: #ECDBBA;
    font-family:Georgia, 'Times New Roman', Times, serif
}
form{
    margin-left: 150px;
    margin-right: 150px;
    text-align: center;
}
button{
    background-color: #282A3A;
    border-radius: 10px;
    color:#C69749;
    padding: 10px 30px;
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 4px 2px;
    cursor: pointer;
}
footer{
    margin-left: 150px;
    margin-right: 150px;
    text-align: center;
    font-size: 20px;
    color: #C69749;
    position: relative;
}
nav {  
    letter-spacing: 0.1em;
    font-weight: bold;	  
    position: relative;
    float: right;
    width: 80px;
    padding-top: 150px;
    font-size: 20px;
    padding-bottom: 150px;
    border:1 px solid #735F32;

} 
nav ul { list-style-type: none; 
     margin: 0;
    
}
nav li { padding: 0.5em 0;
}
nav a { text-decoration: none; 
    display: block;
}
nav a:link { color: #ECDBBA; }
nav a:visited { color: #EAEAEA; }
nav a:hover {  color:#C69749; }


nav li:hover ul { display: block; }
.align{
    margin-left: 30px;
}
p{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
    color:#ECDBBA;
    text-align: center;
}

.row{
    margin:0px -18px;
    padding: 8px;
}

.row > .column{
    padding:6px;
}

.column{
    float: left;
    width: 23%;
}

.row:after{
    content: "";
    display: table;
    clear: both;
}

.content{
    padding: 10px;
    border: 10px;
    border: 1px solid gray;
}

@media screen and (max-width: 700px) {
    .column {
        width: 50%;
    }
}

/* window size 400 width set */
@media screen and (max-width: 350px) {
    .column {
        width: 100%;
    }
}


